@model MedSchedlr.Models.Plano

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plano</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoPlano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoPlano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.acomodacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acomodacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPlano }) |
    @Html.ActionLink("Back to List", "Index")
</p>
